## **Introducing DataFrames**

In [1]:
import pickle
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
f = open("./DataSets/homeless_data.pkl", "rb")

In [3]:
homelessness = pickle.load(f)

### **Inspecting a DataFrame**

When you get a new DataFrame to work with, the first thing you need to do is explore it and see what it contains. There are several useful methods and attributes for this.

- `.head()`     : returns the first few rows (the “head” of the DataFrame).
- `.info()`     : shows information on each of the columns, such as the data type and number of missing values.
- `.shape`      : returns the number of rows and columns of the DataFrame.
- `.describe()` : calculates a few summary statistics for each column.


- `homelessness` is a DataFrame containing estimates of homelessness in each U.S. state in 2018. 
- The `individual` column is the number of homeless individuals not part of a family with children. 
- The `family_members` column is the number of homeless individuals part of a family with children. 
- The `state_pop` column is the state's total population.

- Print the head of the `homelessness` DataFrame.

In [4]:
homelessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

- Print information about the column types and missing values in `homelessness`.

In [5]:
homelessness.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB

- Print the number of rows and columns in `homelessness`.

In [6]:
homelessness.shape

(51, 5)

- Print some summary statistics that describe the `homelessness` DataFrame.

In [7]:
homelessness.describe().T

,count,mean,std,min,25%,50%,75%,max
individuals,51.0,7.225784e+03,1.599103e+04,434.0,1446.5,3082.0,6781.5,109008.0
family_members,51.0,3.504882e+03,7.805412e+03,75.0,592.0,1482.0,3196.0,52070.0
state_pop,51.0,6.405637e+06,7.327258e+06,577601.0,1777413.5,4461153.0,7340946.5,39461588.0

### **Parts of a DataFrame**

To better understand DataFrame objects, it's useful to know that they consist of three components, stored as attributes:

- `.values`   : A two-dimensional NumPy array of values.
- `.columns`  : An index of columns: the column names.
- `.index`    : An index for the rows: either row numbers or row names.

You can usually think of indexes as being like a list of strings or numbers, though the pandas `Index` data type allows for more sophisticated options.

- Print a 2D NumPy array of the values in `homelessness`.

In [8]:
homelessness.values[:5]

array([['East South Central', 'Alabama', 2570.0, 864.0, 4887681],
       ['Pacific', 'Alaska', 1434.0, 582.0, 735139],
       ['Mountain', 'Arizona', 7259.0, 2606.0, 7158024],
       ['West South Central', 'Arkansas', 2280.0, 432.0, 3009733],
       ['Pacific', 'California', 109008.0, 20964.0, 39461588]],
      dtype=object)

- Print the column names of `homelessness`.

In [9]:
homelessness.columns

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

- Print the index of `homelessness`.

In [10]:
homelessness.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
            50],
           dtype='int64')

## **Sorting and Subsetting**

### **Sorting rows**

Finding interesting bits of data in a DataFrame is often easier if you change the order of the rows. You can sort the rows by passing a column name to `.sort_values()`.

In cases where rows have the same value (this is common if you sort on a categorical variable), you may wish to break the ties by sorting on another column. You can sort on multiple columns in this way by passing a list of column names.

|Sort on...      |Syntax                                  |
|----------------|----------------------------------------|
|one column	     |`df.sort_values("breed")`               |
|multiple columns|`df.sort_values(["breed", "weight_kg"])`|

By combining `.sort_values()` with `.head()`, you can answer questions in the form, "What are the top cases where…?".

- Sort `homelessness` by the number of homeless individuals, from smallest to largest, and save this as `homelessness_ind` and print the head of the sorted DataFrame.

In [11]:
homelessness_ind = homelessness.sort_values("individuals")
homelessness_ind.head()

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

- Sort `homelessness` by the number of homeless `family_members` in descending order, and save this as `homelessness_fam`.
Print the head of the sorted DataFrame.

In [12]:
homelessness_fam = homelessness.sort_values("family_members",ascending=False)
homelessness_fam.head()

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

- Sort `homelessness` first by region (ascending), and then by number of family members (descending). Save this as `homelessness_reg_fam`. Print the head of the sorted DataFrame.

In [13]:
homelessness_reg_fam = homelessness.sort_values(["region", "family_members"], ascending=[True, False])
homelessness_reg_fam.head()

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
35  East North Central       Ohio       6929.0          3320.0   11676341
22  East North Central   Michigan       5209.0          3142.0    9984072
49  East North Central  Wisconsin       2740.0          2167.0    5807406
14  East North Central    Indiana       3776.0          1482.0    6695497

### **Subsetting columns**

When working with data, you may not need all of the variables in your dataset. Square-brackets (`[]`) can be used to select only the columns that matter to you in an order that makes sense to you. To select only "`col_a`" of the DataFrame `df`, use
```python
df["col_a"]
```
To select "`col_a`" and "`col_b`" of `df`, use
```python
df[["col_a", "col_b"]]
```

- Create a DataFrame called `individuals` that contains only the individuals column of `homelessness`. Print the head of the result.

In [14]:
individuals = homelessness["individuals"]
individuals.head()

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

- Create a DataFrame called `state_fam` that contains only the `state` and `family_members` columns of homelessness, in that order. Print the head of the result.

In [15]:
state_fam = homelessness[["state","family_members"]]
state_fam.head()

        state  family_members
0     Alabama           864.0
1      Alaska           582.0
2     Arizona          2606.0
3    Arkansas           432.0
4  California         20964.0

- Create a DataFrame called `ind_state` that contains the `individuals` and `state` columns of `homelessness`, in that order. Print the head of the result.

In [16]:
ind_state = homelessness[["individuals", "state"]]
ind_state.head()

   individuals       state
0       2570.0     Alabama
1       1434.0      Alaska
2       7259.0     Arizona
3       2280.0    Arkansas
4     109008.0  California

### **Subsetting rows**

A large part of data science is about finding which bits of your dataset are interesting. One of the simplest techniques for this is to find a subset of rows that match some criteria. This is sometimes known as filtering rows or selecting rows.

There are many ways to subset a DataFrame, perhaps the most common is to use relational operators to return True or False for each row, then pass that inside square brackets.
```python
dogs[dogs["height_cm"] > 60]
dogs[dogs["color"] == "tan"]
```
You can filter for multiple conditions at once by using the "logical and" operator, `&`.
```python
dogs[(dogs["height_cm"] > 60) & (dogs["col_b"] == "tan")]
```

- Filter `homelessness` for cases where the number of `individuals` is greater than ten thousand, assigning to `ind_gt_10k`. View the printed result.

In [17]:
ind_gt_10k = homelessness[homelessness["individuals"]>10000]
ind_gt_10k.head()

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666

- Filter `homelessness` for cases where the USA Census region is "`Mountain`", assigning to `mountain_reg`. View the *printed result*.

In [18]:
mountain_reg = homelessness[homelessness["region"]=="Mountain"]
mountain_reg.head()

      region     state  individuals  family_members  state_pop
2   Mountain   Arizona       7259.0          2606.0    7158024
5   Mountain  Colorado       7607.0          3250.0    5691287
12  Mountain     Idaho       1297.0           715.0    1750536
26  Mountain   Montana        983.0           422.0    1060665
28  Mountain    Nevada       7058.0           486.0    3027341

- Filter `homelessness` for cases where the number of family members is less than one thousand and the region is "`Pacific`", assigning to `fam_lt_1k_pac`. View the *printed result*.

In [19]:
fam_lt_1k_pac = homelessness[(homelessness["family_members"]<1000) & (homelessness["region"]=="Pacific")]
fam_lt_1k_pac.head()

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

### **Subsetting rows by categorical variables**

Subsetting data based on a categorical variable often involves using the "or" operator (`|`) to select rows from multiple categories. This can get tedious when you want all states in one of three different regions, for example. Instead, use the `.isin()` method, which will allow you to tackle this problem by writing one condition instead of three separate ones.
```python
colors = ["brown", "black", "tan"]
condition = dogs["color"].isin(colors)
dogs[condition]
```

- Filter `homelessness` for cases where the USA census region is "`South Atlantic`" or it is "`Mid-Atlantic`", assigning to `south_mid_atlantic`. View the *printed result*.

In [20]:
regions = ["South Atlantic", "Mid-Atlantic"]
condition = homelessness["region"].isin(regions)
south_mid_atlantic = homelessness[condition]
south_mid_atlantic.head()

,region,state,individuals,family_members,state_pop
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
20,South Atlantic,Maryland,4914.0,2230.0,6035802

- Filter `homelessness` for cases where the USA census state is in the list of Mojave states, `canu`, assigning to `mojave_homelessness`. View the *printed result*.

In [21]:
canu = ["California", "Arizona", "Nevada", "Utah"]
mojave_homelessness = homelessness[homelessness["state"].isin(canu)]
mojave_homelessness.head()

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

### **Adding new columns**
You aren't stuck with just the data you are given. Instead, you can add new columns to a DataFrame. This has many names, such as transforming, mutating, and feature engineering.

You can create new columns from scratch, but it is also common to derive them from other columns, for example, by adding columns together, or by changing their units.

- Add a new column to `homelessness`, named `total`, containing the sum of the `individuals` and `family_members` columns.

In [22]:
homelessness["total"] = homelessness["individuals"] + homelessness["family_members"]

- Add another column to `homelessness`, named `p_individuals`, containing the proportion of homeless people in each state who are individuals.

In [23]:
homelessness["p_individuals"] = homelessness["individuals"]/homelessness["total"]

In [24]:
homelessness.head()

,region,state,individuals,family_members,state_pop,total,p_individuals
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0,0.748398
1,Pacific,Alaska,1434.0,582.0,735139,2016.0,0.711310
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0,0.735834
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0,0.840708
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.838704

### **Combo-attack!**

You've seen the four most common types of data manipulation: sorting rows, subsetting columns, subsetting rows, and adding new columns. In a real-life data analysis, you can mix and match these four manipulations to answer a multitude of questions.

In this exercise, you'll answer the question, "Which state has the highest number of homeless individuals per 10,000 people in the state?" Combine your new pandas skills to find out.

- Add a column to `homelessness`, `indiv_per_10k`, containing the number of homeless individuals per ten thousand people in each state.

In [25]:
homelessness["indiv_per_10k"] = 10000 * homelessness["individuals"] / homelessness["state_pop"]

- Subset rows where `indiv_per_10k` is higher than `20`, assigning to `high_homelessness`.

In [26]:
high_homelessness = homelessness[homelessness["indiv_per_10k"]>20]

- Sort `high_homelessness` by descending `indiv_per_10k`, assigning to `high_homelessness_srt`.

In [27]:
high_homelessness_srt = high_homelessness.sort_values("indiv_per_10k", ascending=False)

- Select only the `state` and `indiv_per_10k` columns of `high_homelessness_srt` and save as `result`. Look at the result.

In [28]:
result = high_homelessness_srt[["state", "indiv_per_10k"]]
result

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363